*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: black;
}
header{
    width: 100%;
    z-index: 999;
    position: relative;
}
#header1{
    height: 80px;
    background: white;
}
#header1 > a > img{
    margin-left: 40px;
    margin-top: 14px;
    width: 90px;
}
#header1 > nav > ul{
    list-style: none;
    position: absolute;
    right: 30px;
    top: 32px;
    font-weight: bold;
}
#header1 > nav > ul > li{
    text-align: center;
    font-size: 15px;
    float: left;
    margin-right: 20px;
    width: 115px;
}
#header1 > nav > ul > li:last-child{
    margin-right: 0;
}
#header1 > nav > ul > li > .depth2{
    display: none;
    list-style: none;
    margin-top: 28px;
    background: rgb(255, 255, 255);
    font-size: 13px;
}
#header1 > nav > ul > li > .depth2 > li{
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 12px;
    height: 40px;
}
#header1 > nav > ul > li > .depth2 > li:hover{
    border-bottom: 3.7px solid #1D3B61 ;
}
#header1 > nav > ul > li:hover  > .depth2{
    display: block;
}

#header2{
    height: 20px;
    background: #1D3B61;
}
/*section sub5-1*/
section{
    width: 100%;
  
}
#content1 {
    width: 100%;
    background: rgb(185, 199, 199);
   
}
#content1 > div > p{
    text-align: right; 
    margin-right: 55px;
    padding: 5px;
    font-size: 12px;
}
#content2{
    width: 1280px;
    height: 600px;
    margin: auto;
}
#content2 > .col-content1 {
    width: 20%;
    float: left;
  
}
#content2 > .col-content1 > div > p{
    background-color: #1D3B61;
    padding: 40px;
    text-align: center;
    color: white;
    font-size: 23px;
    font-weight: bold;
}
#content2 > .col-content1 > div > ul {
    list-style: none;
   
}
#content2 > .col-content1 > div > ul > li{
    text-align: center;
    padding: 13px;
    font-size: 14px;
    font-weight: bold;
}
#content2 > .col-content1 > div > ul > li:hover{
    border-bottom: 4px solid #1D3B61 ;
    background:rgb(185, 199, 199) ;
    transition: 0.3s;

}

#content2 > .col-content2 {
    width: 80%;
    height:600px;
    text-align: right;
    position: relative;
    margin-left: 20%;
    background-color: #f3f3f3;
}
#content2 > .col-content2  > p{
    float: left;
    font-size: 20px;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin-left: 40px;
    margin-top: 55px;

}

#content2 > .col-content2 > .info{
    position: absolute;
    text-align: justify;
    color: rgb(66, 66, 66);
    top: 180px;
    right: 60px;
    font-size: 13px;
    font-weight: bold;
}
#content2 > .col-content2 > .info > p{
    padding-bottom: 18px;
}
#content2 > .col-content2 > .info > p > img{
    margin-right: 15px;
}
#content2 > .col-content2 > iframe{
   width: 465px;
   box-shadow: rgb(129, 129, 129) 1px 1px 2px;
   margin-right: 515px;
   margin-top: 60px;
}





footer{
    background:#1D3B61 ;
    width: 100%;
    height: 120px;
    text-align: center;
    font-size: 13px;
    color: rgb(197, 197, 197);
}
footer > p{
    padding-top: 23px;
    line-height: 25px;
}
